<div class="bg-white shadow-sm sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-4">
            <div class="flex items-center gap-2">
                <div class="bg-blue-600 p-2 rounded-lg">
                    <!-- <Plane class="h-6 w-6 text-white" /> -->
                </div>
                <span class="text-blue-600">SkyWings Travel</span>
            </div>
           
            <nav class="hidden md:flex items-center gap-8">
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">Réserver un voyage</a>
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">Destinations</a>
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">Promos</a>
            </nav>

            <div class="hidden md:flex items-center gap-4">
                <button type="button" (click)="handleSignInClick()" class="flex gap-2 border bg-background text-foreground hover:bg-accent hover:text-accent-foreground rounded-md py-1 px-3.5">
                    <lucide-angular [img]="user" class="h-4 w-4 text-grey-100 mt-0.5"></lucide-angular>
                    Sign In
                </button>
            </div>

            <!-- {/* Mobile Menu Button */} -->
            <!-- <Button
            variant="ghost"
            size="icon"
            class="md:hidden"
            onClick={() => setIsMenuOpen(!isMenuOpen)}
            >
            <Menu class="h-6 w-6" />
            </Button> -->
        </div>

        <!-- {/* Mobile Menu */}
        {isMenuOpen && (
            <div class="md:hidden py-4 border-t">
            <nav class="flex flex-col gap-4">
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">
                Flights
                </a>
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">
                Hotels
                </a>
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">
                Packages
                </a>
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">
                Destinations
                </a>
                <a href="#" class="text-gray-700 hover:text-blue-600 transition-colors">
                Deals
                </a>
                <Button variant="outline" class="gap-2 w-full justify-start">
                <User class="h-4 w-4" />
                Sign In
                </Button>
            </nav>
            </div>
        )} -->
    </div>
</div>
