<app-header></app-header>
<div class="container mx-auto px-4 py-6">
    <h3 class="text-2xl font-bold mb-6 text-gray-800">Vols disponibles</h3>
    <p class="text-gray-600">{{flights.length}} vols trouvés</p>
    <div class="space-y-4 max-w-3xl mx-auto">
        @for (flight of flights; track flight.id) {
          <div>
              <app-flight-card
              (cardClick)="navigateToDetails(flight.id)"
              [flightInfo] ="flight.segments"
              [total]="flight.total">
            </app-flight-card>
          </div>
        }
      @if (!flights) {
        <p class="text-center text-gray-500">No flights found.</p>
      }
    </div>
  </div>